h1 {
 color: mediumpurple;
    background-color: floralwhite;
}

p {
 color: black;
    background-color: floralwhite;
}

body {
 font-family: Gill Sans, cursive;
    background-color: floralwhite;

}
ul {
    color: dodgerblue
        background-color: floralwhite;
}
